#main{
    background-color: #f3f4ed;
    font-family: 'Rubik', sans-serif;
    color: #232323;
  }
  
  .heading{
    text-align: center;
    padding-top: 10px;
  }

  #title{
    font-weight: 700;
    font-size: 2.2em;
    position: relative;
    top: 10px;
  }
  
  .title-p{
    font-size: 1em;
    position: relative;
    top: 10px;
    padding-bottom: 10px;
  }
  
  #img-div{
  background-color: #e4efe7;
    width: 95vw;
    margin: auto;
  }
  
  #image{
    display: block;
    max-width: 85%;
    height: auto;
    margin: auto;
    padding-top: 40px;
  }
  
  #img-caption{
    text-align: center;
    padding: 10px;
    color: #424642;
  }
  
  #tribute-info{
    padding: 20px 0 20px 0;
  }
  
  .tribute-heading{
    text-align: center;
    font-size: 1.2em;
  }
  
  .list-items{
    max-width: 550px;
    margin: 0 auto 0 auto;
    padding-top: 20px;
    line-height: 1.5;
    text-align: left;
  }
  
  li{
    margin: 18px;
  }
  
  .quote{
    width: 55%;
    margin: auto;
    font-style: italic;
    line-height: 1.5;
  }
  
  .quote-caption{
    line-height: 3;
  }
  
  .ext-link{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 40px;
  }
  
  #tribute-link{
    color: #39a9cb;
    font-weight: bold;
  }